

.light{
    .seasonBackground{
        background-color:rgb(243, 238, 169);
    }
}

.dark{
    .seasonBackground{
        background-color:rgb(1, 102, 102);
    }
}
.seasonImage{
    border-radius: 0;
}
.seasonBackground {
    padding: 1rem;
    margin: 1em; 
    border-radius: 15px;
    aspect-ratio: 1 / 2;
}
@media(min-width:700px){
    .seasonsContainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:1000px){
    .seasonsContainer{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}