body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.light{
    background-color: rgb(206, 193, 193);
}

.dark{
    background-color: rgb(107, 101, 101);
}