.footer-container{
    display: none;
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 1px -11px 5px 3px rgba(77, 82, 87, 0.54);
    -webkit-box-shadow: 1px -11px 5px 3px rgba(194, 216, 201, 0.54);
    -moz-box-shadow: 1px -11px 5px 3px rgba(200, 221, 207, 0.54);
  }
  
  .audio-player {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-pause-btn {
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    background-color: transparent;
  }
  
  .play-pause-btn:hover {
    background-color: #0056b3;
  }
  
  .progress-bar {
    margin: 0px 20px;
  }
  
  .time-display {
    font-size: 16px;
  }
  
  .volume-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .volume-slider {
    width: 200px;
    margin-right: 10px;
  }
  
  .volume-display {
    font-size: 16px;
  }
  
  .PlaybackButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .playback-speed-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .speed-btn {
    background-color: transparent;
    color: #fff;
    border: 5px black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 1em;
    font-size: x-large;
  }
  
  .speed-display {
    font-size: large;
  }
  
  .light .audio-player {
    background-color: yellowgreen;
  }
  
  .light .play-pause-btn {
    background-color: transparent;
  }
  
  .dark .audio-player {
    background-color: darkcyan;
  }
  
  .dark .play-pause-btn {
    background-color: #0fbcc9;
  }
  
  .settings-btn {
    margin-top: 0;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 5px;
    font-size: larger;
    font-weight: 900;
  }
  
  button {
    width: 100%;
    margin: 1em;
  }
  

  