/* History.css */

.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
  }
  
  .history-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 1rem;
  }
  
  .clear-button {
    padding: 1em 0em;
    border: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    max-width: 100px;
  }
  
  .clear-button:hover {
    background-color: #e60000;
  }
  
  .history-header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  .history-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  .history-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .episode-image {
    width: 100%;
    max-width: 100px;
    border-radius: 5px;
  }
  
  .history-item h3 {
    margin: 1rem 0;
  }
   .favourite-button {
  background-color: #333;
  max-width: 100px;
  }
  .preview-button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    max-width: 100px;
  }
  
  .preview-button:hover, .favourite-button:hover {
    background-color: #555;
  }
  
  .no-history {
    font-size: 3rem;
    color: #757373;
  }
  @media(min-width:700px){
     .history-list {
      display: grid;
      grid-template-columns: 1fr 1fr ;

    }
    .no-history{
      grid-column: 2;
    }
  }

  @media(min-width:1000px){
    .history-list {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr ;
   }
   .no-history{
     grid-column: 2;
   }
 }