:root {
    --light-color: #292728; 
    --dark-color: #d6d2d4; 
    --backgroundLightColor: #f1952a;
    --backgroundDarkColor:#304059;

}

.light {
    color: var(--light-color);
    .Header{
        background-color: var(--backgroundLightColor);
    } 
    select {
        background-color: #a7b8d4;
    }
}

.dark {
    color: var(--dark-color); 
    .Header{
        background-color: var(--backgroundDarkColor);
    }
    select {
        background-color: #dce2eb;
    }  

}
a {
    text-decoration: none;
    color: inherit;
  }
  
  .Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 1rem;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .theme-dropdown {
    display: inline-block;
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  @media (min-width: 710px) {
    .Header {
      flex-direction: row; 
      font-size: x-large;
      padding: 0; 
    }
    
    button {
      min-width: 150%; 
    }
  }
  
  @media (min-width: 1000px) {
    .Header {
      font-size: xx-large; 
    }
  }
  