.inner-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure at least full viewport height */
  }
  
  .inner-layout main {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    flex: 1; /* This ensures main expands to fill the available vertical space */
  }
  
  .InnertLayout-nav {
    display: flex;
    justify-content: space-around;
  }
  
  @media (min-width: 710px) {
    body {
      font-size: xx-large;
    }
  }
  