body{
    align-items: center;
    margin: 0;
}
.episodeLayout{
    padding-bottom: 13rem;
}

.favoutiteButton{
    background-color: transparent;
    border: 0;
}

.EpisodesContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}
.seasonImg{
    border-radius: inherit;
}

.light{ 
    .EpisodesContainer{
    background-color: rgb(218, 198, 170);}
    .episodeTile{
        background-color: rgb(231, 175, 70);}
}

.dark{ 
    .EpisodesContainer{
    background-color:darkcyan}
    .episodeTile{
        background-color: rgb(14, 177, 150);}
}

.listItem{
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 0;
    padding: 1rem;
    margin: 1rem;
}

.playButton{
  max-width: 100px;
  justify-self: center;
  align-self: center;
  margin-left: 2.9rem;
}