.favourites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  width: 100%;
}

.favourites-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.favourites-header h1 {
  font-size: 2rem;
  margin: 0;
}

.sort-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}


.sortAZ{
  background-color: cadetblue;
  border-radius: 15px;
}

.sortDate{
  background-color: cadetblue;
  border-radius: 15px;
  padding: 2px 0px;
}

.sort-buttons button:hover {
  background-color: #555;
}

.favourites-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
}

.favourites-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin: 1rem;
}

.seasonImage {
  width: 100%;
  border-radius: 5px;
}

.favourites-item h2 {
  margin: 1rem 0;
}

.favourite-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.favourite-button:hover {
  background-color: #555;
}

.no-favourites {
  font-size: 1.2rem;
  color: #666;
}

@media(min-width: 1000px){
  .sort-buttons{
gap:5rem;
  }
  .sortAZ{
    padding: 4px;
  }
  .sortDate{
    padding: 4px;
  }
}

@media(min-width: 1400px){
  .sort-buttons{
    gap:15rem;
  }
  .sortAZ{
    padding: 6px;
  }
  .sortDate{
    padding: 6px;
  }
}