/* Home.css */


  
  .HomePagePodcasts {
    display: flex;
    flex-direction: column;
    margin-top:1em ;
  }
  
  .genreFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-bottom: 1rem; 
  }
  .sortButtonOldNew{
    font-size: large;
    max-width: 150px;
    border-radius: black solid 2px ;
  }
  .sortButtonZA{
    font-size: large;
    max-width: 150px;
    border-radius: black solid 2px ;
  }
  .podcastList {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem;
    width: 100%;
    padding: 1rem;
  }
  
  .podcast-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
  }
  
  img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }
  
  .isLoading {
    font-size: xx-large;
    margin: auto;  
    display: flex;
    text-align: center;
    margin-top: 5rem;
  }


.controls {
  padding-left: 30px;
  display: grid;
  flex-direction: column;
  margin-bottom: 20px;
}

.genreFilter {
  display: flex;
  align-items: center;
}

.genreFilter label {
  margin-right: 10px;
}

  @media (min-width: 700px) {
    .podcastList {
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    .controls {
      padding-right: 50px;
      display: grid;
      gap: 1em;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
      align-items: end;
      }
      .genreFilter{
        grid-column: 2;
      }
      .isLoading{
        grid-column: 2;
      }
      .sortButtonOldNew{
        min-width: 100px;
          grid-column: 6;
      }
      .sortButtonZA{
          grid-column: 4;
          min-width: 100px;
      }
  }
  
  
  
  @media (min-width: 1000px) {
    .podcastList {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .isLoading{
      grid-column: 3;
    }
  }
  